@{
    ViewBag.Title = "О проекте";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<p>
    <br />
    Дендрохронология и связанные с ней науки (например, дендроэкология и дендроклиматология) вносят неоценимый вклад в изучение пространственных и
    временных процессов в области наук о Земле, проводя исследования в вековых масштабах времени. Дендрохронологические разработки в настоящее время проводятся по всему миру, как в государственных, так в частных организациях, что привело к необходимости создания единого хранилища данных о результатах тысяч исследований годичных колец. Эти наборы данных используются для оценки 
    изменений в климате прошлого с целью моделирования динамики климата в историческом контексте и построения предположений об изменениях климата в будущем.
    В последнее время было тщательно изучено развитие годичных колец за последнее тысячелелетие с целью моделирования краткосрочных (менее десяти лет) и долгосрочных (более ста лет) тенденций в области климата. Пространственные сети годичных колец в настоящее время разрабатываются для предоставления информации о климате прошлого как в региональном, так и глобальном масштабе. Это позволяет моделировать изменения процессов атмосферной циркуляции на требуемом уровне для последующего анализа климатических процессов в связи с антропогенными воздействиями в контексте изменений климата прошлого.
    <br/>
    <br />
    Как отметил руководитель проекта, профессор СФУ Владимир Мыглан, целью работы работа является получение, анализ и многостороннее использование массовых цифровых данных по микроанатомии годичных колец деревьев: «Годичные кольца деревьев обладают внутренней структурой, которая содержит дополнительную экологическую информацию, и она все ещё редко используется. Анализ количественных показателей микроанатомической структуры годичных колец позволит не только повысить точность и разрешающую способность климатических реконструкций, но и оценить функционально-физиологический отклик деревьев на изменчивость климатических условий».
    <br />
    <img src="@("/Images/About/hti-1260.jpg")" width="300" height="200" alt="Image" />


</p>
